.markItUp .markItUpButton1 a { background-image:url(images/bold.png); }
.markItUp .markItUpButton2 a { background-image:url(images/italic.png); }
.markItUp .markItUpButton3 a { background-image:url(images/picture.png); }
.markItUp .markItUpButton4 a { background-image:url(images/link.png); }
.markItUp .markItUpButton5 a { background-image:url(images/quotes.png); }
.markItUp .markItUpButton6 a { background-image:url(images/code.png); }
