<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mad Chatter</title>
    <meta name="description" content="Mad Chatter">
    <meta name="author" content="Andrew Havens">
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">		
    
	<style>
		body {
	        padding-top: 60px;
	        padding-bottom: 80px;
	      }
		.channel .status {
			text-align: center;
			color: #999;
		}
		.channel .users li {
			margin-bottom: 5px;
		}
		.channel .username {
			font-weight: bold;
			vertical-align: top;
		}
		.messages time {
		    color: #999;
		    display: block;
		    text-align: center;
		    border-top: 1px solid #eee;
		}
		.channel .sidebar-nav {
			position: fixed;
			right: 30px;
		}
		.new_message {
			position: fixed;
			bottom: 0;
			width: 110%;
			margin: 0 0 0 -30px;
			padding: 10px 0;
		}
		#share_code textarea {
			font: 12px Menlo, Monaco, "Courier New", monospace;
/*			padding: 2px !important;*/
		}
	</style>
	<link href="css/bootstrap.responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
</head>

<body>

	<div id="login_screen" class="container" style="position:relative; top:10%; text-align:center;">
		<div class="hero-unit">
		<h1>Welcome to Mad&nbsp;Chatter!</h1>
		<p>You are about to experience the best chat application evah!</p>
		<form id="pick_a_username" class="well form-search">
			<input id="username" type="text" placeholder="What is your name?">
			<button id="join" class="btn">Join</button>
		</form>
		</div>
	</div>

	<div id="chat_wrapper" style="display:none;">
		
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
				
					<!-- nav for mobile and small screens -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					
					<a class="brand" href="#">Mad Chatter</a>
					
					<!-- nav for desktop and large screens -->
					<div class="nav-collapse">
						<ul id="channel_tabs" class="nav"></ul>
					</div>
				
				</div>
			</div>
		</div>

		<div data-channel="lobby" class="channel container-fluid" style="display:none">
			<h2>Rooms</h2>
			<ul id="channels"></ul>
			<p class="create_room" style="display:none">
				It doesn't look like there are any rooms here. 
				Why don't you create one? <button class="btn btn-large">Create a Room</button>
			</p>
		</div>
		
		<!-- template -->
		<div id="channel_template" class="channel container-fluid" style="display:none">
			<div class="row">
				<div class="span2 well sidebar-nav" style="float:right" data-spy="scroll">
					<ul class="users nav nav-list">
						<li class="nav-header">Who's Here?</li>
					</ul>
				</div>
				<div class="messages span10"></div>
			</div>
			
			<div class="new_message well">
				<div class="span10">
					<input type="text" class="span10"></input>
				</div>
				<div class="btn-toolbar span2" style="margin-top:0">
			        <div class="share btn-group">
						<a class="send_message btn" href="#">Share</a>
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu bottom-up">
							<li><a data-toggle="modal" href="#share_photo">Photo</a></li>
							<li><a data-toggle="modal" href="#share_file">Document</a></li>
							<li><a data-toggle="modal" href="#share_code">Code Sample</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div id="share_photo" class="modal fade hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Share Photo</h3>
			</div>
			<div class="modal-body form-horizontal">
				<div class="control-group">
					<label class="control-label" for="upload">Upload File</label>
					<div class="controls">
						<input class="input-file" type="file" name="upload">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="url">Photo URL</label>
					<div class="controls">
						<input type="text" class="input-xlarge" name="url">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary">Share</a>
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</div>
		
		<div id="share_file" class="modal fade hide">
		  <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>Share Document</h3>
		  </div>
		  <div class="modal-body">
		    <p>There should be a file upload ability with progress bar.</p>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-primary">Share</a>
		    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
		  </div>
		</div>
		
		
		<div id="share_code" class="modal fade hide">
		  <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>Share Code Sample</h3>
		  </div>
		  <div class="modal-body">
			<textarea name="code" class="code" rows="10" style="width:520px"></textarea>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-primary">Share</a>
		    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
		  </div>
		</div>
		
	</div>
	
    <div id="disconnected" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Disconnected</h3>
        </div>
        <div class="modal-body">
            <p>Looks like you've been disconnected from the server. We'll try to reconnect you.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary">Okay</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Mad Chatter -->
	<script src='js/mad_chatter.js'></script>
	<script src='js/mad_chatter_actions.js'></script>
	<script src='js/mad_chatter_config.js'></script>
	<script>
		$(document).ready(function(){
			MadChatter.init(mad_chatter_config);
		});
	</script>
</body>
</html>
