/*
 * CSS Reset Styles
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Mad Chatter Styles
 */

#login_screen header {
	padding: 150px 0 20px;
	color: #fff;
	background-color: #000;
	text-align: center;
	font: 25px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#pick_a_username {
	text-align: center;
	background: #fff;
	padding: 5px 10px 10px;
	font: 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#pick_a_username p {
	margin: 10px;
}
#pick_a_username input, #pick_a_username button {
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}

#chatroom{
	margin:0;
	padding:0 0 100px 200px;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#sidebar{
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:100%;
	color: #fff;
	background-color: #000;
	padding: 20px 5px 0 15px;
}

#sidebar h2 {
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}

#sidebar ul#members li {
	margin-left: 1em;
}

#messages {
	padding: 20px 10px 0px 40px;
}

#messages p {
	padding: 0.25em;
	clear: both;
}

#messages strong { font-weight: bold; }
#messages em { font-style: italic; }

#messages p.message .username {
	font-weight: bold;
}

#messages p.message time, #messages p.status time {
	float: right;
	color: #999;
}

#messages p.status {
	text-align: center;
	color: #999;
}

#keyboard {
	bottom: 0;
	left: 220px;
	width: 100%;
/*	height:50px;*/
	background-color: #eee;
	padding: 0 10px;
}

#keyboard input {
	width: 15%;
	padding: 5px;
}

@media screen{
	#chatroom > div#sidebar  { position:fixed; }
	#chatroom > div#keyboard { position:fixed; }
}

* html #chatroom{
	overflow:hidden;
} 

* html div#messages{
	height:100%;
	overflow:auto;
}

/* Message Markdown Styles */
.message pre, .message code {
	font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
	padding: 0!important;
	background-color: #EEE!important;
	border: 1px solid #DDD;
}